/* Global styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.logo12 img{
    position:fixed;
	top:4px;
    width: 100px;
	left:4px;
}
header, main, footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

/* Specific styles */

header img {
  height: 50px;
  margin-right: 20px;
  align-content: ;
}

@media screen and (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}
